
.field-title {
    display: inline;
}
.user-profile-img img {
    border-radius: 10px;
    height:200px;
    width:auto;
}

.col-sm-6.create-user div input {
    width: 100%;
    height: 30px;
    margin-top: -4px;
    border-radius: 5px;
    border: 1px solid grey;
}
.col-sm-6.create-user div select {
    width: 100%;
    height: 30px;
    margin-top: -4px;
    border-radius:7px;
}
.col-sm-6.create-user div input:hover {
    width: 100%;
    height: 30px;
    margin-top: -4px;
    background-color:#ebeff2;
    border-radius:7px;
}
.col-sm-6.create-user div select:hover {
    width: 100%;
    height: 30px;
    margin-top: -4px;
    background-color:#ebeff2;
    border-radius:7px;
}
.col-sm-6.create-user {
   height: 55px;
}
.form {
    background-color: #fff;
    margin: 5px 5px;
    padding: 5px 5px;
    padding-top: 10px;
}
.submit-button{
    font-weight:bold;
    font-size:14px;
    
}