@media (min-width:3072px){
  .questionmark1{
        width: 47%;
  }
    .questionmark2{
        width: 27% !important;
  }
  .margin-pay1 {
    float: left;
    margin-top: -75px;
    margin-left: 1058px;
}
  .margin-pay {
        margin-left: -40px ! important;
}
}
@media (min-width:2560px){
  .questionmark2{
         width: 30% !important;
  }.margin-pay1 {
    float: left;
    margin-top: -75px;
    margin-left: 900px;
}

   .questionmark1{
        width: 50%;
  }

    .margin-pay {
        margin-left: 232px ! important;
}

}
@media (min-width:3072px){

.upcome1
{
    height: 400px ! important;
}
.upcome-img{
   height: 400px ! important;

}

.road1{
  font-size:70px ! important;
}
.road{
  margin-top: 90px;
  font-size:70px ! important;
}


.about-plus-box-img {
    height: 1000px;
  }
.banner-slider-main .item {
    height: 1000px;
  }

.video-img-box-main .video-img-box .video-main iframe, .video-img-box-main .video-img-box .images-main img {
   height:1000px;
  }
.video-img-box-main {
    height:1000px;
}
.footer-widget h4 {
  font-size:35px ! important;
}
.footer-widget .footer-link li > a {
  font-size: 35px;

}
.mlml-100 {
    margin-left: -270px! important;
}

.ahead {
    padding-left: 80px !important;
}
.plus {
    padding-left: 120px;
}

.media1 {
    padding-left: 80px;
}

.activity-img-box-main {
margin-top: 120px;
margin-left:-600px;
margin-right:-600px;
}
.activity-img-box-main .activity-img-box .activity-img-box-inner {
    height: 1000px;
    }

}

@media (min-width:1240px){
body.boxed #wrapper,
body.boxed-simple #wrapper{float:none;width:1220px;margin:0 auto;}


.footer-widget-box-inner .footer-widget-box {
	width:20% ! important;
	}


.margin-pay {
  /*  
    margin-left: -18px ! important;*/
}


}

@media (min-width:992px) and (max-width:1199px){
  .questionmark{
 /* margin-right: 67px !important;*/
  margin-top:-23px;
}

  .banner-slider-main .item {
    height: 400px;
   
}

.about-plus-box-img {
    height: 450px;
    }

  .activity-img-box-main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px;
  }
  .video-img-box-main {
    height: 400px;
  }

  .video-img-box-main .video-img-box .video-main iframe, .video-img-box-main .video-img-box .images-main img {
      height: 400px;
  }
  .activity-img-box-main .activity-img-box .activity-img-box-inner {
    height: 370px;
  }

  .footer-widget-box-inner .footer-widget-box {
     padding: 0 0px;
    }

  .ahead {
    padding-left: 35px !important;
  }

  .road {
 /*   margin-top: 50px;*/
    font-size: 30px;    
  }
    .road1 {
   /* margin-top: 50px;*/
    font-size: 30px;    
  }

  .media1 {
    padding-left: 20px;
  }

  .mlml-100 {
    margin-left: -90px! important;
  }
  .ml-60 {
    margin-left: 50px ! important;
}

  .footer-widget-box-inner .footer-widget-box {
  width:20% ! important;
  }

}



@media (min-width: 1024px) {
  .ipad-landscape { color: blue; } 
.questionmark{
 margin-right:5px !important;
  margin-top:-37px;
}


.margin-pay {
    
/*    margin-left: -29px ! important;*/
}

/*  .about-plus-box-img {
    height: 400px;
    width: 100%;
  }
*/


}


/*@media (max-width:767px){

}*/


@media (min-width:769px) and (max-width:991px){
  .questionmark{
  /*margin-right: 67px !important;*/
  margin-top:-23px;
}
.margin-pay1{

  margin-left: 130px;
  margin-right: auto;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 30px;
}

.margin-pay {
    
    margin-left: -18px;
}

  .about-plus-box-img {
    height: 350px;
  }
  .banner-slider-main .item {
    height: 300px;
  }

.video-img-box-main {
   height: 300px;
}

  .video-img-box-main .video-img-box .video-main iframe, .video-img-box-main .video-img-box .images-main img{
  height: 300px;
}
.activity-img-box-main .activity-img-box .activity-img-box-inner {
    height: 270px;}

.ahead {
     padding-left: 0px !important; 
}
.road1 {
    font-size: 21px;
   }

.road {
 
    font-size: 21px;
   }
.plus {
     padding-left: 5px; 
}

.mlml-100 {
     margin-left: -35px! important; 
}
.media1 {
     padding-left: 10px; 
}
.ml-60 {
     margin-left: 20px ! important; 
}

}

/*@media (min-width:480px) and (max-width:767px){
	
}*/
/*@media (max-width:479px){

}*/


@media (min-width:499px) and (max-width: 768px) {
.margin-pay {
   
    margin-left: 0px;
}




  .about-plus-box {
    width: 100%;
    height: 570px ! important;
}

.about-plus-box-img {
   height: 570px ! important;
    width: 100%;
  }

  .banner-slider-main {
    margin-bottom: 56px;
}


  .banner-slider-main .item img {
/*  width: 450px; */
   height: 300px ! important;
    object-fit: initial;
}



.video-img-box-main{
height: 800px ! important;

}

.video-img-box-main .video-img-box .video-main iframe, .video-img-box-main .video-img-box .images-main img{
  height: 400px ! important;
}
.activity-img-box-main .activity-img-box{
  width:100%;
}
.activity-img-box-main .activity-img-box .activity-img-box-inner{
  height:400px ! important;
}

.video-img-box-main .video-img-box .video-main, .video-img-box-main .video-img-box .images-main {
    position: relative;
    padding: 0%;
}


}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .dropdown-content {
    /* display: none; */
    right: 0;
  }
  .left {
    float: none;
}
.volunteersubmit{
  margin-top:15px;
}
  .lapellogocss {
 
   margin-top: 0px ! important; 
   margin-left: 0px;
}

.alertcsspopup {
  background-color: #c5ab7a ! important;
  width: 90% ! important;
  height: auto ! important;
  margin-top: 50px !important;
}
.alert img {
    width: auto;
    height: 220px;
    margin-top: -55px;
}
.responsive {
  width: 100%;
  height: auto;
}

.margin-pay1{
  float: none; 
     margin-top: 0px;
      margin-left: 0px;
  }


.smallviewicon{
  height:30px ! important;

}
.questionmark {
    margin-right: 0px;
    margin-top: -47px;
    height: 50px;
   /* margin-left: 50px;*/
}
.questionmark1 .close {
    margin-right: 10px;
}
.width-50 {
    width: 100% ! important;
}
.mb-28{
    margin-bottom: 0px;

}
.mb-16{
 margin-bottom: 16px;
}
.mtm-35{
    margin-top: 25px;
}

.mb-40 {
    margin-bottom: 0px ! important;
}

.mb-260{
margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 0px;

}
.mb-100 {
 margin-bottom: 0px;
}

.mb-80{
    margin-bottom: 20px;
}

.ml-30{
  margin-left: 0px ! important;
}


.w1{
    margin-top: 5px;
    margin-bottom: 5px;


}

.mlml-100 {
    margin-left: 0px! important;
}

.ml-60{
  margin-left: 0px ! important;
}

.mb-38{ margin-bottom: 0px;

}

.ml-40{
  margin-left: 0px ! important;
}

.pl-50{
padding-left: 0px;
}

.ml-25 {
    margin-left: 0px ! important;
}

.sm {
	margin-top: 18px;
	margin-bottom: 20px;
}
.navigation_button {
	    margin-left: 0px ! important;
}
.nav-bar{
	margin-left: 0px;
}
.logo img{
	height:70px;
}
.mr-15 {
    margin-right: 0px ! important;
}
.navigation_background {
   
    top: 31px;
    right: 20px;}

.menu_logo {
/*    text-align: center;
    border-bottom: 1px dotted #808080;*/
    padding-bottom: 20px;
    margin-bottom: 20px;
}

  .menu-list-main {
    overflow-y: scroll;
    height: 300px;
/*    border: 1px solid #fff;*/

}

.menu-list-main .menu-list-box {
    width: 100%;padding-top: 20px;
   /* padding: 0 15px;*/
}


.menusccm{
  float:left;
  margin-right: 0px; 
  background: #1f2b44; 
  color: #c5ab7a;
    height: 100%;
    border: 2px solid #1f2b44;border-radius: 30px;
    font-weight: 500; 
    padding: 2px 13px;
    font-size: 14px;
    margin-bottom: 5px;
}


.supportcss {
    margin-right: 0px;
    margin-left: 0px;
}

.nav-bar > ul {
    padding: 0px;
    margin: 4px;
    
    display: flex;
    align-items: center;
}


.right {
    float: inherit;
}


 .header-inner {
padding: 10px 0;

  }
.offerscss1 {
  width: 160px ! important;text-align: center !important;
  margin-top:10px;

}
.center1 img{
text-align:left ! important;
}
.nav-bar > ul > li{
  	margin-left: 5px;

  }
  .search_con {
  	width: 100% ! important;
  }
.center2{
  text-align:justify ! important;
}
.mobile{
  display:block;
}
.desktop{
  display:none;
}
  .search_form input, .feature_image .search_form input:active, .feature_image .search_form input:focus
  {
  	width:120px;
  }
.questionmark1 .modal-body {
padding:0px;
  margin-top:0px;
}

#myModalRoadAhead .modal-body {
  padding:0px;
  }
.ranopadding{
    padding-right: 0px;
    padding-left: 0px;
}
.members-joined-table1{
  overflow-x:auto;
}
  #roadtablecss{
    margin-left: 0px;

  }
    #roadtablecss1{
    margin-left: 0px;
  }
.questionmark1{
    width: 100% ! important;
}

.video1 {
  width: 100% ! important;
}
.contactcsspopup
{
      margin-top: 50px !important;
       width: 88% ! important;
       height:;
/*   height:auto ! important;*/
}
.pl1-10{
  padding-left: 0px;
}

.pl-50{
padding-left: 15px;
}
.p11-5{ 
     padding: auto ! important; 
}

.orderconfirmcss
{
      margin-top: 30px !important;
       width: 88% ! important;
/*   height:auto ! important;*/
}


.associate {
    width: 88% ! important;
   /* height: auto ! important;*/
    margin-top: 50px !important;
}

.container {
   /*    padding-left: 0px;*/
}
  
  .yb {
     padding-right: 15px; 
    /* margin-top: 3px;*/
}
.cms-page-main {
   
    margin-top: 0px;
    
}


.activity-img-box-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 24px;
    padding: 20px 12px;
    /* border: 1px solid #000; */
    background: #fff;
    margin-top: 23px;
}

.why-pluscircle-img-content {
    margin: 20px 0 40px;
}

.contact-us-form {    padding: 20px;
  margin-top: 34px;
}
   
.event-activites-section {
     margin-top: 0px; 
  
}

.contact-us-main {
    margin-top: 0px;
     padding: 34px 0;
}
  .about-us-title h4{
    width:100%;
    margin-left: 0px;
    font-size: 20px;
  }
  .about-plus-box{
  	width: 100%;
  }
.about-us-head-main{
     margin-top: 5px; 
    padding: 0 0px;
}


.event-activites-head-main {
  padding-left:15px;

}
.about-us-img-inner {

     width: 100%; 
     padding-right: 0px; 
  
}

.about-us-img-main p {
 
  margin-right: 0px;
 
}

.cms-content{
  padding-left: 0px;
}

.profile-name {
     padding-left: 0px; 
}

.about-us-img-main p {
   padding-right: 0px;
}
.about-plus-box-img img{
/*	width: 100%;
	height: 100%;*/
	position: absolute;
	top: 0px;
	left: 0px;
/*	object-fit: cover;*/
	-webkit-transition: all 0.3s ease-in-out;                  
    -moz-transition: all 0.3s ease-in-out;                 
    -o-transition: all 0.3s ease-in-out;   
    -ms-transition: all 0.3s ease-in-out;          
    transition: all 0.3s ease-in-out;
}


 .about-plus-box-img {
   height: 500px;
    width: 100%;
  }

.about-plus-box-content {
    position: absolute;
    padding: 20px 40px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;                  
    -moz-transition: all 0.3s ease-in-out;                 
    -o-transition: all 0.3s ease-in-out;   
    -ms-transition: all 0.3s ease-in-out;          
    transition: all 0.3s ease-in-out;
}
  .about-plus-circle {
  	margin-top: 0px;
  }

.about-plus-box-img:hover img {
    transform: scale(1.03);
}


.video-img-box-main .video-img-box {
    width: 100%;
    padding: 0 3px;
}


.upcoming-event-main .title .my-ticket {
     position: initial; 
     top: initial; 
     right: 40px; 
}

.about-plus-box-content h3{

}

.dashboard-main {
 padding-top: 54px;
    margin-top: 34px;
    padding-bottom: 44px;
}





.banner-slider-main .item img {
/*	width: 450px; */
   height: 250px; 
    object-fit: initial;
}

.banner-slider-main .owl-nav button.owl-prev, .banner-slider-main .owl-nav button.owl-next, .upcoming-slider-main .owl-nav button.owl-prev, .upcoming-slider-main .owl-nav button.owl-next
{
	top: 50%;
}

.owl-carousel {
   
    height: 250px;
}


#upcoming-activities-2 {
  
    margin-top: 20px;
}


.modal-content-width{
  width: 100%;

}


.popup-content ul {
    display: block;
 /*   flex-wrap: wrap;*/
    margin: 0 -10px;
    padding: 0px;
    list-style: none;
}


.popup-content ul li {
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
}


.available-tickets {
     width: 100%; 
  
}
.popup-content-bottom {
  display: block;
}

.popup-content-bottom .terms-link {
    width: 100%;
}

.content-bottom {
     width: 100%; 
    text-align: right;
}
.upcome1
{
	  height: 225px ! important;
}

.upcome-img{
	 height: 225px ! important;

}
.video-img-box-main{
height: 572px;

}

/*.video-img-section {
    overflow: hidden;
     margin-bottom: 0px; 
}
*/
.my-referrebces-box-main .my-referrebces-box{
width: 100%;
margin-bottom: 20px;
}

.profile-img-main {
    display: initial;
}

.dimg {
    float: right;
    width: 105px;
    margin-top: 10px;
}

.modal-content{
  width:90% ! important;

}
.modal-body .center {
    margin-top: 10px !important;
}
.inputc1 {
    height: 21px ! important;
    width: 21px! important;
        margin-top: 7px! important;
}
.inputc2 {
  
    margin-top: 7px! important;
}
.feescs {
     padding-top: 0px; 
    padding-bottom: 0px;
}
.width-10per{
  width:10%;
}
.width-90per{
  width:89%;
}
.width-65per{
  width:65%;
}
.width-35per{
  width:35%;
}

.width-70{
  width:100%;

}
.width-290{
  width:100%;

}
.tdp1 {
    text-align: left ! important;
     padding-left: 0px; 
}
.width-75{
 width:100%;

}

.width-100{
 width:100%;

}

.pt-29 {
    padding-top:0px;
}
.mt-28 {
    margin-top: 0px;
}

.video-img-box-main .video-img-box .video-main iframe, .video-img-box-main .video-img-box .images-main img{
	height: 286px;
}
.activity-img-box-main .activity-img-box{
	width:100%;
}
.activity-img-box-main .activity-img-box .activity-img-box-inner{
	height:250px;
}

.video-img-box-main .video-img-box .video-main, .video-img-box-main .video-img-box .images-main {
    position: relative;
    padding: 0%;
}

.text {
 
  color: #000;
  font-size: 16px;
  padding: 16px 16px;

      font-size: 30px;
	font-family: dancingfont;
}


/* application sccm responsive */

.sccmstate0 {
  float: none;
  text-align: none;
}
.mt-20 {
  margin-top: 0px;
}
.mt-40 {
  margin-top: 0px;
}
.sccmstate {
  float: none ! important;
  margin-top: 0px ! important;
  text-align: justify ! important;
}
.sccmstate1 {
  float: none;
  margin-right: 0px;
  margin-top: 0px;
}
.sccmcity{
  padding-right: 15px;
  padding-left: 15px;
}
.ulclass {
  margin-left: -40px ! important;
  padding-right: 15px ! important;
}
.plm-30 {
  padding-left: 0px !important;
}

.pl-30 {
  padding-left: 0px ! important;
}
.mlw {
  margin-left: 0px; 
  width: 100% ! important;
}
.mr-30 {
  margin-right: 0px ! important;
}

.sccmp {
  margin-left: 0px; 
   margin-right: 0px;
}

.height-105 {
  height: 0px;
}
.mb-150 {
  margin-bottom: 50px ! important;
}
p.allstate{
  top:200px ! important;
  right: 15px ! important;
}
.sscmview {
  top:280px ! important;
  right: 15px ! important;
  min-height: 70px;
}
/* footr responsive */


.legal{
    float:none;
    padding-right: 0x;
     margin-top: 15px;
}

.plus{
  margin-top: 30px;
    padding-left: 0px;
}

.ahead{
    padding-left: 0px !important;
}
.road1{
  font-size:31px !important ;
    margin-top: 0px !important;
 }

.road{font-size:31px !important ;
    margin-top: 35px !important;
 }
 

.memory{
    padding-right: 0px !important;
}



.media1{
    padding-left: 0px;
        margin-top: 15px;
}

.social-margin{
    margin-left: 0px;
}
  
  .margin-pay{
  margin-top: 0px;
}
.dashboard-content{
        margin-top: 25px;
  }

.footer-widget-box-inner .footer-widget-box {
	width:100%;
	}


.footer-widget-box-inner .footer-widget-box1 {
    width:100%;
  }

.footer-widget-box1 .footer-widget {
  width:100%;
}
.social-icon{
  width:100%;
  }




 
}

