body {
	font-family: 'Montserrat', sans-serif;
	padding-top: 86px;
	color: #333;
}
.container {
    max-width: 1166px;
      padding-top:10px;
  margin: auto;
}
.container-fluid1{
  background-color: #e8e8e8 ! important;

}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/*.container{

}*/
label.cabinet{
  display: block;
  cursor: pointer;
}

label.cabinet input.file{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
  width: 400px;
  height: 400px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
p.allstate {
    margin-bottom: 0px;
    text-align: center;
    line-height: 17px;
    background-color: #7E5233;
    font-weight: 600;
    color: #fff;
    width: 102px;
    padding: 3px;
    border-radius: 5px;
    top: 232px;
    right: 91px;
    position: fixed;
    z-index: 999;
}
.sscmview {
    padding: 5px;
    text-align: center !important;
    font-size: 15px;
    width: 99px;
    min-height: 100px;
    background-color: #57637c;
    color: #fff1f1;
    position: fixed;
    z-index: 999;
    line-height: 20px;
    font-weight: 600;
    /* height: 5px; */
    border-radius: 5px;
    top: 315px !important;
    /* left: 2px; */
    right: 90px;
}
label.error {
    font-size: 12px ! important;
    color: #ff8300 ! important;
 /*   color: orangered !important;*/
      margin-top: 60px ! important;
    font-weight: 700 ! important;
}

label.error11 {
  font-size: 12px ! important;
  color: #ff8300 ! important;
/*   color: orangered !important;*/
    margin-top: 0px ! important;
  font-weight: 700 ! important;
}

label.erroracceptu {
    font-size: 12px ! important;
    color: #ff8300 ! important;
 /*   color: orangered !important;*/
      margin-top: 30px ! important;
    font-weight: 700 ! important;
}



.container-fluid1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a {
    color:#c5ab7a;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
input, textarea, select, a, button {
	outline: none !important;
	outline-color: inherit;
}
img {
	max-width: 100%;
}

p{
    text-align: justify;
	line-height: 30px;
	margin-bottom: 20px;
	font-size: 14px;
}
p:last-child {
	margin-bottom: 0px;
    text-align: justify;
}

.logo img{
height: 100%;
}

.menusccm{
  float:right;
  margin-right: 160px; 
  background: #1f2b44; 
  color: #c5ab7a;
    height: 30px;
    border: 2px solid #1f2b44;border-radius: 30px;
    font-weight: 500; 
    padding: 2px 13px;
    font-size: 14px;
}

.event-activites-section {

    margin-top:0px;
    padding-bottom: 54px ! important;
}
.kitcss{
  width:100%; margin-left:147%; margin-top: 10px;
}

.kitcss1{
  padding-left:5px;padding-right: 5px;padding-bottom: 5px;
}
.kitcss2{
color:#1f2b44;font-weight: 700;margin-bottom:-20px;font-size:13px;
}

.kitcss3{color:#1f2b44;margin-bottom:-20px;font-size:13px;font-style: italic;
}
.inputc1{
      margin-top: 2px ! important;
  height:21px ! important;
  width: 17px ! important;
}
.inputc2{height:21px ! important;width: 17px ! important;float:left;margin-top: 2px ! important;
}
.modelalpen{
padding-bottom: 0px;
height:500px ! important;
width:50% ! important;
background-color: #c5ab7a ! important;
color:#1f2b44
}

.modelalpen .modal-header{
border-bottom: 1px solid #1f2b44 ! important;
text-align: center ! important;
}

.modelalpen .modal-title{
display: block; display:block;


}
.modelalpen .close{
  color:#1f2b44 ! important;
}
.modal-body .center{
  margin-top: 120px !important;
}
.center {
  text-align: center;
}

.center1 {
    text-align: center ! important;
}
.white1{
font-size:60px ! important;color:#fff ! important;
}
.orderconfirmcss .whited{
  color:#fff ! important;
  margin-bottom:5px ! important;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #1f2b44;
  color: white;
  border: 1px solid #1f2b44;
}

.pagination a:hover:not(.active) {background-color: #c5ab7a;}
.video1{
  width:800px;
}
.videocss1{
  width:100%;
}

.videocss2 h4{
  margin-top: 15px;
  margin-bottom: 0px;
  color:#1f2b45 ! important;

}

.contactcsspopup{

      background-color: #c5ab7a ! important;
  width:488px ! important;
  height:227px ! important;
      margin-top: 150px !important;

}

.alertcsspopup {
  background-color: #c5ab7a ! important;
  width: 612px ! important;
  height: 330px ! important;
  margin-top: 150px !important;
}

.associate{

      background-color: #c5ab7a ! important;
  width:350px! important;
  height:auto ! important;
      margin-top: 150px !important;

}



.associate .modal-body {
    position: relative;
    margin-top: 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;color: #fff;
  padding: 0rem; 
}
.associate .modal-title{
  margin-bottom: 30px; 

}
.associate h4{   font-size: 1.33rem ! important;
  }

.associate h5{line-height: 1.0 ! important;font-size: 1.05rem ! important;color: #fff ! important;
font-family: 'Montserrat', sans-serif ! important;
}
  .associate .contactcsspopup1{
font-size: 1.25rem ! important;
}

  .associate .close {
    color: #fff ! important;
    float: right ! important;
    font-size: 28px;
    font-weight: bold;
}



.contactcsspopupl{  border-bottom: 0px solid #e9ecef ! important ;

}
.contactcsspopup .modal-body, .alertcsspopup .model-body {
    position: relative;
    margin-top: 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;color: #fff;
  padding: 0rem; 
}
.contactcsspopup .modal-title, .alertcsspopup .modal-title{
  margin-bottom: 30px; 

}
.contactcsspopup h4, .alertcsspopup h4{   font-size: 1.33rem ! important;
  }
.contactcsspopup h5, .alertcsspopup h5{line-height: 1.0 ! important;font-size: 1.20rem ! important;color: #fff ! important;
font-family: 'Montserrat', sans-serif ! important;
}
.contactcsspopup .contactcsspopup1, .alertcsspopup .contactcsspopup1{
font-size: 1.25rem ! important;
}




.contactcsspopup .close, .alertcsspopup .close{
    color: #fff ! important;
    float: right ! important;
    font-size: 28px;
    font-weight: bold;
}





.orderconfirmcss{

  background-color: #c5ab7a ! important;
  width:628px ! important;
/*  height:560px ! important;*/
  margin-top: 30px !important;
 
}



div#termsnconditionModal {
    z-index: 999999;
}
div#SelectTshirtModal {
    z-index: 999999;
}

.alert img {
  width:auto;
    height: 299px;
    margin-top: -69px;
}

.orderconfirmcss .floating-selectpcc1{
  padding: 2px ! important;
  height:25px;
  
}

.orderconfirmcss .floating-inputpcc{
  padding: 2px ! important;
  height:25px ! important;
  
}
.orderconfirmcss p{
 color:#1f2b44 ! important;
 font-weight: 600;
 font-size: 17px;
 line-height: 24px;
}
.font-size22px{
font-size:22px;
}
.underbottom{
    margin-bottom: 10px;
}
.underbottom1{
  margin-bottom: 0px;
 
}
.pl-50{
padding-left: 50px;
}

.bluebg {
    background: #000e2b ! important;
     
  }
.maillogo{
  height: 50px;
}
.bluebg p{
  color: #c5ab7a ! important;
  font-weight: 500;
  font-size:16px;
}
.orderconfirmcss .modal-header{
  border:none ! important;
}
.orderconfirmcss .modal-body {
    position: relative;
    margin-top: 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;color: #fff;
  padding: 0rem; 
}
.orderconfirmcss .modal-title{
  margin-bottom: 30px; 

}
.orderdashboardcss{
  margin-bottom: 0px ! important; 
}
.orderconfirmcss h4{   font-size: 1.33rem ! important;
  }
.orderconfirmcss h5{line-height: 1.0 ! important;font-size: 1.20rem ! important;color: #fff ! important;
font-family: 'Montserrat', sans-serif ! important;
}
.orderconfirmcss .orderconfirmcss1{
font-size: 1.25rem ! important;
}


.uderline1{
  text-decoration: underline ! important;
}

.orderconfirmcss .close {
    color: #fff ! important;
    float: right ! important;
    font-size: 28px;
    font-weight: bold;
}


.right{float:right;}

.p11-5{
padding:5px;
}

.p1-5{
  padding:5px;
  }
.p1-10{
padding:10px;
}
.h2css{
color:#1f2b44;font-weight: 700 ! important;}
.pt1-5{
  padding-top: 5px;
}
.offerscs0{
   background:#c5ab7a;    padding-bottom: 20px;

}
.center2{
  text-align: center ! important
}


.offerscs{
   background:#a38c60;    padding-bottom: 20px;
/*border-right:1px solid #dfcca4;*/
}
.offerscs1{
  margin-bottom: -15px ! important;

}

.offerscss1{text-align: center ! important;
background:#1f2b45;color:#fff;line-height: 20px;margin-bottom: 0px;text-align:center;font-size: 13px; font-weight: 500;
}
.offerscss2{
  background:#a38c60; height:50px;margin-top:2px;margin-left: -15px !important;margin-right: -15px ! important;
}

.offerscss3{
  background:#c5ab7a; height:50px;margin-top:2px;margin-left: -15px !important;margin-right: -15px ! important;
}



.pt-15{
  padding-top: 15px;
}
.height-187{    border: 1px solid #e8e8e8;
  height:187px;}


.mb-10{margin-bottom: 10px;}
.mt-9{margin-top: 9px;}

.mb-28{
 margin-bottom: 28px;
}

.mtm-35{
 margin-top: -35px;
}

.pb-10{
padding-bottom: 10px;
}
.mb-80{
    margin-bottom: 80px;
}

.mb-100{
    margin-bottom: 100px;
}
.width-50{
  width:50% ! important;
}
.mb-260{
margin-bottom: 260px;
}

.mb-38{
    margin-bottom: 38px;

}
.mt-15{
margin-top: 15px ! important;
;
}
.mt-28{
    margin-top: 28px;
}

.mt-20{
    margin-top: 20px;
}

.height-105{height:105px;
}


.line-height-35{
  line-height:35px;
}
.mrm-5 {
margin-left:-5px ! important;
  }

.pr-5{
padding-right: 5px;
    } 

.pl-0{
padding-left: 0px;
}
.ml-0{
  margin-left: 0px;
}
.font-size13{
font-size:13px ! important;
}
.font-size14{
  font-size:14px ! important;
  }
.paycss{
  padding-left:5px;padding-right: 5px;padding-bottom: 0px;
}
.error_agreecs{
  font-size:13px;display:block;color:red;
}
.pb-0{
  padding-bottom: 0px;
}
.offercss{padding-top: 0px;padding-bottom: 0px;
}
.sscmview{
  padding:5px;text-align:center:padding-top: 8px;font-size:16px;width:85px; min-height: 100px;background-color: #57637c; color: #fff1f1;position: fixed;z-index:999
}
.mb-150{
  margin-bottom: 150px ! important;
}
.mw-13{
  max-width: 13.06667% ! important;
}
.ulclass{
  margin-left:-25px ! important;padding-right: 10px ! important;
}

.sccmcountry{
  padding-top: 20px  ! important ;background: #e8d0a5 ! important; padding-bottom: 20px ! important;
}

.sccmcity{
padding-top: 20px ! important;padding-bottom: 20px ! important;margin-left: 0px ! important;
 background: #cedaf4 ! important;padding-right: 0px ! important;padding-left: 0px;
}

.sccmstate0{
  float:right;text-align: right;
}

.sccmstate{
  float:right ! important;margin-top: 16px ! important;text-align: right ! important;
}

.sccmstate1{float:right;margin-right: 225px;  margin-top: -35px;
}
.sccmstate2{
  padding: 8px;height: 38px ! important;
}

.mt-40{
    margin-top: 40px;

}

.mb-40{
    margin-bottom: 40px ! important;

}

.mb-60{
    margin-bottom: 60px ! important;

}

.mb1-40{
    margin-bottom: 40px;

}

.modal-content-width{
  width: 50%;

}


#roadtablecss {
  border-collapse: collapse;
  width: 100%;
  
}

#roadtablecss td, #roadtablecss th {
  border: 1px solid #ddd;
  padding: 2px;
}
.tdb{
  border:1px solid #000 ! important;
}

#roadtablecss tr:nth-child(even){background-color: #c5ab7a;}

#roadtablecss tr:nth-child(odd){background-color: #f4e3c4;}

/*#roadtablecss tr:hover {background-color: #f4e3c4;}*/



#roadtablecss th{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #1f2b44;
  color: white;
  text-align: center;
}



#roadtablecss1 th{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #1f2b44;
  color: white;
  text-align: center;
}


.tdp1{
text-align: left ! important;padding-left: 20px;
}

.tr1{background-color: #fff ! important;
 /* height:26px;*/
}

.width-70{
  width:70px;

}
.width-290{
  width:290px;

}
.width-75{
  width:75px;

}

.width-100{
  width:100px;

}
.appcationtitle a{
color: #1f2b45;
}


.alert-danger1 {
    color: #ff3000;
 background-color: none;
     border-color: ;
     font-size:13px;
     line-height: 15px;
}

.alert-info1 {
    color: #28a745;
 background-color: none;
     border-color: ;
     font-size:13px;
     line-height: 15px;
}

.alert1 {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}



#roadtablecss td p{
   text-align: center;
}

#roadtablecss1 td p{
   text-align: center;
}


#roadtablecss1 {
  border-collapse: collapse;
  width: 100%;
}

#roadtablecss1 td, #roadtablecss1 th {
  border: 1px solid #ddd;
  padding: 2px;
}

#roadtablecss1 tr:nth-child(even){background-color: #8ea8df;}

#roadtablecss1 tr:nth-child(odd){background-color: #cbd8f2;}

/*#roadtablecss1 tr:hover {background-color: #cbd8f2;}*/







.modal-header{
            padding:0px;
            border-bottom: 1px solid #e9ecef;
        }
        .modal-header1{
            padding:0px;
            border-bottom: 0px solid #e9ecef;
        }
        .modal-header .close{
            padding-right:12px;
            padding-top: 6px;


        }
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 9999; /* Sit on top */
          padding-top: 12px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }





        .close{
            margin-right: 20%;
        }

    

        /* Modal Content */
        .modal-content {
          background-color: #f2f2f1;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
              z-index: 9999;
        }

        
        /* The Close Button */
        .modal-content .close {
          color: #aaaaaa;
          float:right !important;
          font-size: 28px;
          font-weight: bold;
        }

        .activity-button{
            font-family: 'Montserrat', sans-serif;
            background:none;
            border: none;
            
            font-weight: 500;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
/* === Header Start === */
.header-main {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 9;
    background: #e8e8e8 ! important;
    width: 100%;
    top: 0;
}
.header-inner .logo h1{
	margin: 0px;
	font-weight: 700;
}
.header-inner .logo a{
	color: #000;
}
.header-inner {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar > ul{
	padding: 0px;
/*	margin: 0px;*/
  margin: 0px;
	display: flex;
	align-items: center;
}
.nav-bar > ul > li{
	list-style: none;
}
.nav-bar > ul > li {
	margin-left: 15px;
}
.nav-bar > ul > li > a {
	/*color: #000e2b;*/
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	/*font-family: Sourcesanspro;*/
	/*text-transform: uppercase;*/
	font-weight: normal;
	color: #c5ab7a;

}
/*
.icon-search:before {
  content: "\f002"; }*/

.search_con{
	border-radius: 100px !important;
	display: inline-block;
    width: 8% !important;
    margin-left: auto;
    margin-right: auto;
}

.search-submit {
    position: absolute;
    z-index: 1000;
    color: #c5ab7a;
    font-size: 20px;
    top: 8px;
    right: 7px;
    cursor: pointer;
}

.search_form input, .feature_image .search_form input:active, .feature_image .search_form input:focus {
    color: #3f3c38;
    border: 1px solid #c5ab7a;
    font-size: 13px;
        color: #c5ab7a;
    border-radius: 100px !important;
       width: 160px;
       padding-top: 9px !important;
       padding: 10px;
       padding-left: 15px !important;
}



form.search_form, .search_form input {
    padding-top: 0;
    margin-bottom: 0;
    position: relative;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}


.nav-bar > ul > li > a:hover {
	color: #d5d800;
}
.nav-bar {
    display: flex;
    align-items: center;
}
.navigation_button {
    width: 41px;
    margin-top: 5px;
    margin-left: 15px ! important;
    height: 41px;
    border-radius: 50%;
    z-index: 99999;
   /* background: #c5ab7a;  */
    /* box-shadow: 0 10px 30px rgba(0,0,0,.1); */
    text-align: center;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    margin-left: 50px;
    position: relative;
}
.navigation_button span {
	width: 20px;
	height: 2px;
	background: #1f2b45;
	display: inline-block;
	position: relative;
}
.navigation_button span::before,
.navigation_button span::after {
	content: "";
	width: 20px;
	height: 2px;
	background: #1f2b45;
	position: absolute;
	top: -7px;
	left: 0px;
}
.navigation_button span::after {
	top: inherit;
	bottom: -7px;
}
.navigation_button_main {
	position: relative;
}
.navigation_button_main > input{
	position: absolute;
	opacity: 0;
	right: 0px;
}
.navigation_background {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: fixed;
    top: 31px;
    right: 20px;
    background: none;
    z-index: 1100;
    transition: transform .8s;
}
.navigation_checkbox:checked ~ .navigation_background {
    transform: scale(110);
}
.navigation_nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .8s;
}
.navigation_checkbox:checked ~ .navigation_nav {
    opacity: 1;
    width: 100%;
    overflow: auto;
}
.navigation_nav .navigation_menu_box {
    padding-top: 60px;
   background:#1f2b44;   
   padding-bottom: 200px;
}
.menu_logo {
    text-align: center;
    border-bottom: 1px dotted #c5ab7a;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon:before {
    top: 0;
    transform: rotate(45deg);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon:after {
    top: 0;
    transform: rotate(-45deg);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon{
	background: none;
}
.menu_logo a{
	display: inline-block;
	color: #fff;
}
.navigation_menu_box .menu_box {
    /* padding: 0 0 40px 0; */
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #ffba19;
}
.navigation_menu_box .menu_heading {
    border-bottom: solid 2px #ffba19;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    padding-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu_list {
    padding: 0 0 55px 0;
}
.menu-list-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}
.menu-list-main .menu-list-box{
	padding: 0 15px;
}
.menu-list-box h5{
	color:#c5ab7a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 25px;
    position: relative;
}
.menu-list-box h5::before {
    content: "";
    background: #c5ab7a;
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 2px;
}
.menu-list-box ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.menu-list-box ul li {
	margin-bottom: 8px;
}
.menu-list-box ul li a{
	color: #c5ab7a;
    font-size: 14px;
    position: relative;
    text-decoration: none;
}
.menu-list-box ul li a:hover {
	color: #fff;
}
.login-form .form-group label{
	width: 100%;
}
.login-form .form-group input,
.login-form .form-group select{
	width: 100%;
	height: 45px;
	border-radius: 0;
	border:0;
	border-bottom: 2px solid #ccc;
	padding:0; 
}

.accept1{
color:#1f2b45 ! important;
text-decoration-line: underline;
}
.accept2{
color:#1f2b45 ! important;

}
.accept3{
color:#fff ! important;
text-decoration-line: none;

}

.login-section {
  margin-bottom: 6px;
	padding: 76px 0 180px;
	background: url(../images/sec-c/loginbg.jpg) no-repeat center center / cover;
}
.login-section .form-bg {
	width: 100%;
  background: #c5ab7a;;
	max-width: 444px;
	margin: auto;
	border-radius: 10px;
	
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.gender-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.astrick{
    color:#c5ab7a;
}
.gender-box {
    width: 55px;
}

.name-box {
    width: calc(100% - 80px);
}
.login-form {
    width: 100%;
    margin: auto;
}
.forgot-link a{
	font-size: 14px;
	color: #c5ab7a;
}
.or-line1{
      margin-top:20px;
    margin-bottom: 0px;

}
.or-line1 a{
    font-size: 14px;
  
    color: #c5ab7a;
}
.btn1{
    background:#fff;
   
}
.login-form .form-title h4 {
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1f2b45;
    font-weight: 600;
}
.login-form .submit-btn {
	margin-bottom: 0px;
}
.login-form .form-group label {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.submit-btn {
    text-align: center;
    margin: 20px 0;
    clear: both;
    display: inline-block;
    width: 100%;
}
.reset{
  background: none ! important;color:#1f2b44 ! important;
  }

  .reset1{
  background: #c5ab7a ! important;color:#1f2b44 ! important;
  }


.submit-btn input, .btn1 {
    text-transform: uppercase;
    background: #fff;
    color: #1f2b44;
    height: 36px !important;
    border: 1px solid #1f2b44;
    border-radius: 30px;
    font-weight: 500;   
    cursor: pointer;
    padding: 13px 13px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.submit-btn input, .btn {
    text-transform: uppercase;
    background: #1f2b44;
    color: #c5ab7a;
    height: 36px;
    border: 2px solid #1f2b44;
    border-radius: 30px;
    font-weight: 500;	
    cursor: pointer;
    padding: 0 13px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.otp-btn {
	text-align: center;
}
a.btn {
    line-height: 32px;
}

a.btn1 {
    line-height: 32px;
}
.submit-btn input:hover, .btn:hover {
	border: 2px solid #000e2b;
	background: #000e2b;
	color: #fff;
}


.submit-btn input:hover, .btn1:hover {
    border: 2px solid #000e2b;
    background: #000e2b;
    color: #fff;
}


.new-user {
	text-align: center;
	margin-top: 30px;
}
.new-user a {
	color: #1f2b44;
	font-size: 14px;
	text-decoration: underline;
}

/* === Header Start === */
.banner-slider-main .item{
	height: 550px;

	width: 100%;
	position: relative;
}
section.about-plus-circle-main {
	margin-bottom: 6px;
}
.banner-slider-main .owl-nav button.owl-prev, .banner-slider-main .owl-nav button.owl-next, .upcoming-slider-main .owl-nav button.owl-prev, .upcoming-slider-main .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 40px;
    height: 40px;
   background: #c5ab7a;
        color: #1f2b44;
    font-size: 30px;
    border-radius: 50%;
    margin-top: -20px;
    padding-bottom: 5px !important;
    line-height: 1;
}
.banner-slider-main .owl-nav button.owl-next,
.upcoming-slider-main .owl-nav button.owl-next {
	left: inherit;
	right: 20px;
}
.banner-slider-main .item img{
	width: 100%;
	height: 100%;
/*	object-fit: cover;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.about-plus-circle {
    display: flex;
    flex-wrap: wrap;
}
.about-plus-box {
	width: 33.33%;
}
.about-plus-box-img {
    height: 570px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.about-plus-box-img::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	opacity: 0;
		-webkit-transition: all 0.3s ease-in-out;                  
    -moz-transition: all 0.3s ease-in-out;                 
    -o-transition: all 0.3s ease-in-out;   
    -ms-transition: all 0.3s ease-in-out;          
    transition: all 0.3s ease-in-out;
}

.about-plus-box-img img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	/*object-fit: cover;*/
	-webkit-transition: all 0.3s ease-in-out;                  
    -moz-transition: all 0.3s ease-in-out;                 
    -o-transition: all 0.3s ease-in-out;   
    -ms-transition: all 0.3s ease-in-out;          
    transition: all 0.3s ease-in-out;
}
.about-plus-box-img:hover img {
    transform: scale(1.03);
}

.about-plus-box-content {
    position: absolute;
    padding: 20px 40px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;                  
    -moz-transition: all 0.3s ease-in-out;                 
    -o-transition: all 0.3s ease-in-out;   
    -ms-transition: all 0.3s ease-in-out;          
    transition: all 0.3s ease-in-out;
}
.about-plus-box-content h3{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	font-weight: 700;
	margin: 0px;
	padding: 15px 0;
}
.about-plus-box-img:hover::after,
.about-plus-box-img:hover .about-plus-box-content{
	opacity: 1;
}
#google_translate_element .goog-te-gadget{
	font-size: 0px;
}
#google_translate_element .goog-te-gadget .goog-te-combo {
    margin: 0px;
    height: 30px;
    width: auto;
}
#google_translate_element .goog-te-gadget span{
	display: none;
}
#google_translate_element .goog-te-gadget > div{
	display: block !important;
}
.banner-slider-main {
	margin-bottom: 6px;
}


.video-img-box-main {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px;
	overflow: hidden;
	height: 552px;
}
.video-img-section {
	overflow: hidden;
	margin-bottom: 6px;
}
.video-img-box-main .video-img-box{
	width: 50%;
	padding: 0 3px;
}
.video-img-box-main .video-img-box .video-main,
.video-img-box-main .video-img-box .images-main {
	position: relative;
	padding: 50%;
}
.video-img-box-main .video-img-box .video-main iframe,
.video-img-box-main .video-img-box .images-main img{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 551px;
	/*object-fit: cover;*/
}
.activity-img-section {
	overflow: hidden;

	
	
}
.activity1{
	background:url(../images/ac2.jpg) repeat-x;


	/*background: #899ce3;*/
	background-size: 50% auto;
	width:100%;

}
.activity-img-box-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
    padding: 20px 12px;
 /*   border:1px solid #000;*/
    background: #fff;
   
	margin-top: 30px;
}
.activity-img-box-main .activity-img-box{
	width: 33.33%;
	padding: 0 3px;
	margin-top: 20px;
	margin-bottom: 20px;



	
}

.list-event-activites .why{
    border: 0px solid #ccc !important;
    border-radius: 0px;

     box-shadow: 0 0 0px rgba(0,0,0,0) !important;
    margin-bottom: 20px;
     box-shadow: 0 0 0px rgba(0,0,0,0) !important;


}

.list-event-activites-content .sm{
    border-radius: 72px;
    border: 1px solid #000;
}

 .gfg { 
          /*  margin: 3%; */
            position: relative; 
 } 
 .gfg img{
    opacity:0.3;
    border-radius: 46px 46px 46px 46px ! important;
 }
  
.first-txt { 
            position: absolute; 
            top: 40px; 
            left: 50px; 
            color:#000;
            font-weight: 600;
            color:#1F2B44;
 } 




.middle1 {


  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle {


  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .imageeff {
  opacity: 0.2;
}

.container1:hover .middle {
  opacity: 1;
}


.container1:hover .middle1{
  opacity: 1;
}


.text {
  /*background-color: #f1f2ab;*/
  color: #000;
 /* font-size: 16px;*/
  padding: 16px 16px;

      font-size: 60px;
	font-family: dancingfont;
}

.imageeff{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.uploadcss{cursor: pointer ! important;
  border-radius:50% ! important;
  height:120px ! important;
  width:120px;background:#fff7e8 ! important;
  box-shadow: 0 0 10px gray ! important; 
     padding-top: 50px ! important;
  font-size: 15px ! important;
  padding-left: 0px ! important;

}
.brsw{
border: 0px solid #ccc ! important;box-shadow:none !important;
}

.activity-img-box-main .activity-img-box .activity-img-box-inner{
	height: 450px;
	margin-left: 10px;
    margin-right: 10px;
	position: relative;

}
.activity-img-box-main .activity-img-box .activity-img-box-inner img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;-webkit-box-shadow: 4 4 4px #1f2b45;
    box-shadow: 4px 4px 4px #1f2b45;
}
.upcoming-slider-main {
	margin-bottom: 6px;
}
.about-us-head-main {
	margin-top: 0px;
	padding:  0  10px;
  margin-bottom: 44px;
}
.about-us-title {
	text-align: center;
	padding:0 15px;
    font-family: Raleway;
}
.about-us-title a{
  color:#c5ab7a;
}
.left{
    float:left;
}
.about-us-title p{
    float:left; color:#c5ab7a;margin-top:20px;
    margin-bottom: 20px;

}
.ybh {
    margin-left:0px !important;
    margin-right:0px !important;
 /* margin-top: 67px ! important;*/

}

.ybh1 {
    margin-left:0px !important;
    margin-right:0px !important;
  margin-top: 67px ! important;

}
.yb1{
    padding-right: 34px;
}

.about-us-title h4{
    margin-top:46px;
      margin-bottom:46px;
      color:#1f2b44;
      font-size: 30px;
   
    font-family: Raleway;
 /*   float:right;*/
 /*   margin-right: 20%;*/
        margin-left: 50%;

}
.about-us-title hr{
    width:100%;
 /*margin-left: 69%;*/
 margin-top: -40px;
 margin-bottom: 46px;
 border-top: 1px solid #c5ab7a;
}
.about-us-head {
	/* display: flex;
	flex-wrap: wrap; */
/*	margin-bottom: 6px;*/
margin-bottom: 24px;
}
.about-us-head::after {
	content: "";
	display: table;
	clear: both;
}
.clieck-link {
	padding: 20px 0;
	font-size: 18px;
	font-weight: 600;
}
.about-us-img-main {
	width: 100%;
}
.about-us-img-inner {
    float: left;
    width: 50%;
    padding-right: 75px;
        margin-bottom: 20px;
}
.about-us-content {
	width: 50%;
	padding: 10px;
}
.about-us-img-main p{
text-align: justify;
padding-right: 0px;
margin-right: -5px;
color: #1f2b44;
}
.dashboard-main {
	padding: 54px 0;
	background: #fff;
}
.dashboard-menu ul{	
	padding: 0px;
	margin:0px;
	list-style: none;
	background: #000e2b;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.dashboard-menu ul li a{
	color: #fff;
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
	width: 100%;
  text-transform: uppercase; ! important;

    font-size: 14px;
    /* font-weight: 500;*/
}

.dashboard-menu ul li button{
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    float: left;

    font-size: 14px;
  font-weight: 400
}


.dashboard-menu ul li.active a, .dashboard-menu ul li a:hover {
	background: #c5ab7a;
	color: #000e2b;
}

.dashboard-menu ul li.active button, .dashboard-menu ul li button:hover {
    background: #c5ab7a;
    color: #000e2b;
}

.dashboard-title h4 {
    font-weight: 600;
    color: #000e2b;
    border-bottom: 1px solid #C5AB79;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 40px;

}
.dashboard-title h4::after {
    content: "";
  /*  background: #c5ab7a;*/
    width: 100px;
    height: 6px;
    position: absolute;
    bottom: -3px;
    left: 0px;
    border-radius: 2px;
}
.dashboard-table table{
	width: 100%;
}
.dashboard-table table th{
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	font-size: 12px;
}
.dashboard-table table td {
	border-bottom: 1px solid #e8e8e8;
	padding:10px 0;
	font-size: 12px;
}
.dashboard-table tfoot td{
	border-top: 1px solid #e8e8e8;
}
.dashboard-table table tr:last-child td {
	border-bottom: 0px;
}

.dashboard-content .shadowcn{
  border:1px solid #1f2b44 ! important;
  -webkit-box-shadow: 0 0 10px #c5ab7a ! important;
  box-shadow: 0 0 10px #c5ab7a ! important;
}
.shadowcn .floating-form{
padding-top: 10px;
}
.profile-name .next-step{
     border-radius: 20px;
    background: #ffffff;color:#c5ab7a;margin-top:0px;margin-bottom:10px;border: 1px solid #1f2b44;
}

.shadowcn form{
  padding: 10px;
}
.sccmp{
  margin-left: 30px;margin-right: 30px;font-size:12px; line-height: 22px;margin-bottom: 0px;
}

.pl1-10{
  padding-left: 10px;
}
.pl-10{
  padding-left: 10px;
}
.pl-25{
    padding-left: 25px;
}
.pr-15{
  padding-right: 15px;
}
.mr-30{
  margin-right: 30px ! important;
}
.mr-15{
  margin-right: 15px ! important;
}
.mobile{
  display:none;
}
.desktop{
  display:block;
}
.questionmark{
 /* margin-right: 65px;*/
  margin-top:-23px;
}

.questionmark1{
     background-color:none; 
    margin: auto;
    background: transparent ! important;
    padding: 20px;
     border: 0px solid #888; 
    width: 63%;
    z-index: 9999;
}


.questionmark2{
     background-color:none; 
    margin: auto;
    background: transparent ! important;
    padding: 20px;
     border: 0px solid #888; 
    width: 34%;
    z-index: 9999;
}

#milestone{
  z-index: 4999 ! important;
}
#myModalRoadAhead{
  z-index: 5999 ! important;
}
.questionmark1 .modal-header, .questionmark2 .modal-header {
    padding: 0px;
    border-bottom: 0px solid #e9ecef;
}
.questionmark1 .close, .questionmark2 .close {
margin-top: 27px;
/*margin-right: 100px;*/
}
.questionmark1 .modal-body, .questionmark2 .modal-body {
    margin-top:0px;
     padding:0rem;
    }
.mlml-100 {
    margin-left: -105px! important;
}

.ml-30{
  margin-left: 30px ! important;
}

.mr-10{
  margin-right: 10px ! important;
}
.mr-5{
  margin-right: 5px ! important;
}
.ml-40{
  margin-left: 40px ! important;
}

.supportcss{
margin-right: -25px;margin-left: 25px;
}


.ml-25{
  margin-left: 25px ! important;
}

.mlm-5{
  margin-left:-5px ! important;
}

.ml-10{
  margin-left: 10px ! important;
}
.ml-60{
  margin-left: 60px ! important;
}


.pl-30{
  padding-left: 30px ! important;
}
.pt-10{
  padding-top:10px ! important;
}
.pt-30{
  padding-top:30px;
}
.pt-29{
  padding-top:29px;
}

.pt-38{
padding-top:38px;
}
.accept{
color:#c5ab7a;text-decoration-line: underline;
}
.feescs{
padding-top: 26px;padding-bottom: 0px;
}

.shirtcs{
  background:; color:#1f2b44;font-size:14px;padding:2px;
}
.error_sizecs{
font-size:13px;display:block;color:red;padding:0px;}
.divsub{
  margin-bottom:0px;margin: 0px 0;
}
.divsub1{
border-radius: 8px;margin-top: 13px;border: 1px solid #1f2b44; background: #fff;color: #1f2b44;
}
.pl-5{
  padding-left: 5px ! important;
}

.pl-20{
  padding-left:20px ! important;
}
}

.pl-29{
  padding-left: 29px ! important;
}


.pr-30{
  padding-right: 30px ! important ;
}

.plm-30{
  padding-left: -30px !important ;
}

.mlw{
margin-left: 30px;width: 385px ! important;
}


.sccmh4{
  font-size:20px;    background: #ecd5aa;
}
.sccmh41 h4{
  text-align: center;
}
.dimg{
  float: right;width: 105px;
}
.shadowcn .next-step{
  border-radius: 8px;background:#000e2b;color:#c5ab7a;margin-top:0px;margin-bottom:10px;border: 1px solid #1f2b44;
}
.readonly1 {
  background: #e8e8e8;
  width: 184px;
}
.orderconfirmcss .submit-btn {

  margin: 0px 0;
}
.orderconfirmcss .volunteerpost {
  text-transform: uppercase;
  background: #fff;
  color: #1f2b44 ! important;
  height: 36px;
  font-weight: 600;
  border: 0px solid #1f2b44 ! important;
  border-radius: 0px ! important;
  padding: 0px 20px;
  color: #1f2b45 ! important;
}
.orderconfirmcss .submit-btn input:hover{
  border: 0px solid #000e2b;
  background: #1f2b44 ! important;
  color: #fff ! important;
}

.volunteersubmit {
  text-transform: uppercase;
  background: #000e2b;
  color: #fff ! important;
  height: 36px;
  font-weight: 500;
  padding: 0px 10px;
  font-size:15px;
  border: 0px solid #1f2b44 ! important;
  border-radius: 0px ! important;
}

.dimg {
    float: right;
    width: 105px;
}
.lapellogocss{
  height: 95px ! important;
  margin-top: -12px ! important;
  margin-left: 7px;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.profile-img img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
  /*  padding-left: 0px;*/
	object-fit: cover;
}
.profile-code p{
	margin: 10px 0 15px;
}

div#modalAlertjoiningKit {
z-index: 99999;
}

.hidden{
  display:none;
}
.iwishtopurchase {
    border-radius: 5px !important;
    /* background: #000e2b; */
  color:#1f2b44 !important;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #1f2b44;
    font-size: 15px;
    font-weight: 700;
}
.dashboard-note {
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    overflow-y: scroll;
}
.dashboard-video img {
    height: 270px;
    width: auto;
}
.blue{
  color: #000e2b ! important;
  top: -10px ! important;
}

a.purchasekit {
    color: #1f2b44;
    border: 1px solid #1f2b44;
    padding: -1px;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}
a.purchasekit:hover {
    color: #1f2b44;
    border: 1px solid #1f2b44;
    padding: -1px;
    font-size: 10px ! important;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
  background:#c5ab7a;
}


.dashboard-video iframe{
	width: 100%;
	height: 240px;
}
.dashboard-note textarea {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    padding: 15px;
}


.dashboard-note1 textarea {
    width: 100%;
    margin-top: 5px;
    height: 240px;
    border-radius: 10px;
    padding: 15px;
    background: #f6f6f6;
}


.floating-label.kyc {
    margin-top: 10px;
}
.kyc .floating-input:focus~label,.kyc .floating-inputcontact:focus~label, .kyc .floating-input:not(:placeholder-shown)~label, .kyc .floating-input1:not(:placeholder-shown)~label,
.floating-label.open label{
	top: -18px;
}
textarea.floating-input {
	height: 70px;
	padding: 15px 4px;
}

textarea.floating-input1 {
    height: 40px;
    padding: 15px 4px;
}


textarea.floating-inputcontact {
    height: 70px;
    padding: 15px 4px;
}
/* === Footer Start === */
.footer-main {
	position: relative;
	padding: 50px 0 0;
/*	background: url('../images/footer-bg.jpg') no-repeat center center / cover;*/
}

@font-face {
   font-family: dancingfont;
   src: url(../fonts/DancingScript-VariableFont_wght.ttf);
   font-weight: bold;
}

@font-face {
   font-family: Sourcesanspro;
   src: url(../fonts/SourceSansPro-Regular.ttf);
   font-weight: bold;
}


@font-face {
   font-family: raleway;
   src: url(../fonts/Raleway-Regular.ttf);
   font-weight: bold;
}


   


.footer-main::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,14,43,0.88);
    width: 100%;
    height: 100%;
}
.footer-widget-box-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.footer-widget-text {
    padding: 0 15px;
    width: 25%;
    position: relative;
}
.footer-widget-text::before {
    content: "";
    border-right: 0px solid #fff;
    position: absolute;
    top: -70px;
    right: 0px;
    width: 1px;
    bottom: -70px;
}
.footer-widget-box-inner {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.copyright-bottom-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*padding: 8px 0;*/
    padding-bottom: 0px;
}
.footer-widget-box-inner .footer-widget-box {
    padding: 0 15px;
    width: 20%;
}

.footer-widget-box-inner .footer-widget-box1 {
    padding: 0 15px;
/*    width: 100%;*/
     margin: auto;
  width: 50%;

}

.footer-widget-box1 .footer-widget{
    margin-left: auto;
    margin-right: auto;
   width: 50%;
   margin-top: 60px;
    margin-bottom: 30px;

}
.footer-widget p{
	line-height: 22px;
	color: #c5ab7a;
}
.heightp{
 margin-bottom: 0px;
}
.div12{
  padding-top:0px;padding-bottom: 10px;
}
.hrcss{
  border-top: 1px solid #c5ab7a;
}
.footer-widget h4 {
    color: #c5ab7a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 25px;
    position: relative;
}
.legal{
    float:right;padding-right: 0px;
}


.road{
    margin-top: 50px;
        font-size: 31px;
    font-family: dancingfont;
}


.road1{
    margin-top: 50px !important;
        font-size: 31px;
     /*    margin-top: 0px;*/
    margin-bottom: 40px !important;
    font-family: dancingfont;
}

  
.memory{
    padding-right:40px !important;
}

.social-margin{
  width:25%;
/*margin-left: 530px;*/
padding-right: 40px;margin-top: 60px;
margin-bottom: 30px;
}

.margin-pay{
  margin-top: 50px;
  margin-left: 0px ! important;
}
.margin-pay1{
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.media1{
    padding-left: 25px;
}
.plus{
    padding-left: 53px;
}


.ahead{
    padding-left: 38px !important;
}


.memory{
    padding-right: 40px !important;
}


.footer-widget h4::before {
	content: "";
	background: #e6ae11;
	width: 30px;
	height: 2px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 2px;
}
.footer-widget .footer-link{
	padding: 0px;
	margin: 0px;
}
.footer-widget .footer-link li > a{
	color: #c5ab7a;
	position: relative;
	padding-left: 0px;
	text-decoration: none;
}
.footer-widget .footer-link li > a:hover {
	color: #fff;
}
.footer-widget .footer-link li > a::before {
   /* content: "\f105";*/
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
}
.footer-widget .footer-link li {
	margin-bottom: 8px;
	list-style: none;
}
.social-icon {
	padding: 0px;
 float:right !important;

      margin: auto;
  display: flex;
  width: 29%;
  margin-bottom: 40px;
  /*justify-content: space-between;*/
}


.social-icon1 {
  padding: 0px;
  
  margin: 0px;
  display: flex;


  justify-content: space-between;
}

.social-icon  li, .social-icon1 li {
	list-style: none;
	margin-left: 15px;
}
.social-icon li a, .social-icon1 li a, .linkofsocial{
	display: inline-block;
	width: 29px;
	height: 29px;
	margin-top: 5px;
	border: 1px solid #c5ab7a;
	border-radius: 50%;
	text-align: center;
	color: #c5ab7a;
	line-height: 32px;
}
.social-icon li a:hover, .social-icon1 li a:hover {
	border: 1px solid #fff;
	color: #fff;
}
.copyright-bottom {
    margin-top: 16px;
    /*  background: #000e2b;*/
        background: #c5ab7a;

    position: relative;
    z-index: 1;
}
.copyright-bottom p{
	text-align: center;
/*	color: #808080;*/
color:#000;
	padding:0;
	font-size: 13px;
	margin: 0px;
}
/* === Footer Start === */

.modal-title{
font-family: 'Montserrat', sans-serif;
}

/****  floating-Lable style start ****/

.floating-label {
	position: relative;
	margin-bottom: 10px;
}
.floating-inputpcciddd {
    font-size: 14px;
    /* padding: 0; */
    /* color: #1f2b44; */
    /* display: block; */
        width: 35px;
    /* padding: 10px; */
    height: 35px;
    border-radius: 0px;
    background: #fff;
    /* font-family: 'Montserrat', sans-serif; */
    /* background-color: transparent; */
    /* border: none; */
    border: 1px solid #757575;
}

.floating-label1 {
    position: relative;
    margin-bottom: 6px;
}

.dashboard-note1 p{
    line-height: 16px;
    margin-bottom: 10px;
}

.floating-input,.floating-input1,
.floating-select {
      margin-top: 15px;
	font-size: 14px;
	padding: 0;
    color: #1f2b45;
	display: block;
	width: 100%;
	height: 46px;
    font-family: 'Montserrat', sans-serif;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #757575;
}


.floating-inputcontact {
      margin-top: 15px;
  font-size: 14px;
  padding: 0;
    color: #1f2b45;
  display: block;
  width: 100%;
  height: 35px;
    font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}


.floating-input2,
.floating-select2 {
    font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 100%;
    padding:10px;
    height: 35px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;
}


.floating-inputdate{
    font-size: 14px;
    padding: 10px;
    color: #1f2b44;
    display: block;
    width: 100%;
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
    border-radius: 5px;
    background: #f6f6f6;
    border: 1px solid #757575;
    
}


.inputpcc1{
    margin-right: 6px;
    float:left

}

.inputpcc2{
    margin-left: 10px;
   
}
.inputpcc_b{
    background:#fff7e8;
    padding:5px;
    color:#1f2b44;
    font-weight:500;
}


.floating-label2 p{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
    text-align: none;
}
}
.para-pcc{}


input[type=checkbox1]{

    margin-top: 4px;
    width: 20px;

    width: 20px;
    box-sizing: border-box;
    padding: 0;
}

.floating-inputdeclare {
    font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
  width: 100%;
    height: 23px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
}



.floating-inputcheck{

        font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
      margin-top: 8px;
    height: : 25px;

    width: 25px;
    padding: 10px !important;
   
    border-radius: 5px;
    background: #f6f6f6 !important;
    font-family: 'Montserrat', sans-serif;
    /* background-color: transparent; */
    border: none;
    border: 1px solid #757575;

}
.floating-inputpcc{
     font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width:100%;
    
    padding:10px;
    height: 35px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;
}

.shadowpcc{
-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}


.floating-inputpccid2 {
    font-size: 14px;
    /* padding: 0; */
     color: #1f2b44; 
     display: block; 
     width: 180px; 
     padding: 10px; 
    height: 20px;
    /*border-radius: 5px;*/
   /* background: #f6f6f6;*/
     font-family: 'Montserrat', sans-serif; 
    /* background-color: transparent; */
     border: none; 
    border-bottom: 1px solid #757575;
}


.floating-selectpcc1 {
    font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 100%;
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    /* background-color: transparent; */
    border: none;
    border: 1px solid #757575;
}


.floating-inputpccid {
    font-size: 14px;
    /* padding: 0; */
    /* color: #1f2b44; */
    /* display: block; */
    /* width: 250px; */
    /* padding: 10px; */
    height: 35px;
    border-radius: 5px;
    background: #f6f6f6;
    /* font-family: 'Montserrat', sans-serif; */
    /* background-color: transparent; */
    /* border: none; */
    border: 1px solid #757575;
}


.floating-input4pcc{
       font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 100%;
    padding:10px;
    
    height: 50px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;

}
.floating-selectpcc {
    font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 180px;
    
    padding:8px;
    height: 35px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;
}



.floating-input3 {
    font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 100%;
    padding:10px;
    height: 50px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;
}


.floating-input3pcc {
    font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 250px;
    padding:10px;
    height: 50px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;
}



.floating-input4{

        font-size: 14px;
    padding: 0;
    color: #1f2b44;
    display: block;
    width: 100%;
    padding:10px;
    
    height: 100px;
    border-radius:5px;
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
  /*  background-color: transparent;*/
    border: none;
    border: 1px solid #757575;


}
.floating-input:focus,.floating-inputcontact:focus,.floating-input1:focus,,
.floating-select:focus {
	outline: none;
	border-bottom: 2px solid #000e2b;
}
.or-line {
	text-align: center;
	margin: 20px 0;
}
.floating-form label {
	color: #c5ab7a;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 0px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,

.floating-input:not(:placeholder-shown)~label,
.floating-inputcontact:focus~label,

.floating-inputcontact:not(:placeholder-shown)~label,

.floating-input1:focus~label,
.floating-input:not(:placeholder-shown)~label
 {
	top: -8px;
	font-weight: 600;
	color: #c5ab7a;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
	top: -8px;
	font-weight: 600;
	color: #c5ab7a;
}

::-webkit-input-placeholder,::-webkit-select-placeholder { /* Chrome/Opera/Safari */
  color: #1f2b45;
}

/*::-moz-placeholder {  Firefox 19+ 
  color: pink;
}
:-ms-input-placeholder {  IE 10+ 
  color: pink;
}
:-moz-placeholder {  Firefox 18- 
  color: pink;
}*/

/* active state */

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,

.floating-inputcontact:focus~.bar:before,
.floating-inputcontact:focus~.bar:after,

.floating-input1:focus~.bar:before,
.floating-input1:focus~.bar:after,

.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
	width: 50%;
}

.floating-textarea {
	min-height: 30px;
	max-height: 260px;
	overflow: hidden;
	overflow-x: hidden;
}


/* highlighter */

.highlight {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 15%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active state */

.floating-input:focus~.highlight,
.floating-input1:focus~.highlight,
.floating-select:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}


/* animation */

@-webkit-keyframes inputHighlighter {
	from {
		background: #000e2b;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #000e2b;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #000e2b;
	}
	to {
		width: 0;
		background: transparent;
	}
}


/****  floating-Lable style end ****/


/***   daniel - Fork me friend - style   ***/

.floating-credit {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #aaa;
	font-size: 13px;
}

.floating-credit a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.floating-credit a:hover {
	border-bottom: 1px dotted #f8f8f8;
}

.floating-heading {
	position: fixed;
	color: #aaa;
	font-size: 20px;
}

/***  daniel - Fork me friend - style  ***/
.login-section .wizard-inner {
	display: none;
}
.hasDatepicker-main .submit-btn{
	margin: 9px 0 0;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
	background: #fff;
}
.ui-datepicker-inline {
	border:1px solid;
	border-radius: 5px;
	overflow: hidden;
}
.ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    background: #000e2b;
    align-items: center;
    padding: 0 15px;
}

.ui-datepicker-prev {
	order: 1;
}
.ui-datepicker-next  {
	order: 3;
}
.ui-datepicker-prev span, .ui-datepicker-next span{
	color: #fff;
	position: relative;
	font-size: 0px;
}
a[class*="ui-datepicker"] span::before{
	content: "";
	font-family: 'Font Awesome 5 Free';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
a.ui-datepicker-prev span::before {
    content: "\f105";
    transform: rotate(-180deg);
    display: inline-block;
}
a.ui-datepicker-next span::before {
	content: "\f105";
}
.ui-datepicker-title {
    order: 2;
    color: #fff;
    font-size: 14px;
    padding: 8px 0;
    font-weight: 400;
}
.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a{
	padding: 3px;
	display: inline-block;
	font-size: 14px;
}
.ui-datepicker-calendar td a {
    color: #000;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 32px;
}

.ui-datepicker-calendar td a.ui-state-active {
	background: #000e2b;
	color: #fff;
}
.why-pluscircle-banner {
	position: relative;
	padding: 12% 50%;
	/*margin-bottom: 50px;*/
}
.why-pluscircle-banner img,
.why-pluscircle-left-img img,
.list-event-activites-img img,
.list-event-activites-img1 img,
.upcoming-events-slider .slider-img img{
	position: absolute;
	top: 0px;
	left: 0px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.why-pluscircle-img-content {
	margin: 50px 0 54px;
}
.about-us-img {
    margin-top: 7px;
}


.about-us-img img{
  border-radius: 13px;-webkit-box-shadow: 0 0 10px #c5ab7a;box-shadow: 0 0 10px #d39319;
}

.why-pluscircle-left-img img{
    -webkit-box-shadow: 4 4 4px #1f2b45;
    box-shadow: 4px 4px 4px #1f2b45;border-radius:5px;

}
.why-pluscircle-left-img {
	position: relative;
	padding: 28% 50%;
	margin-top: 7px;
}
.event-activites-head-main {
	padding: 0px 0;
	background: #fbfbfb;
}
.event-activites-head p {
    text-align: center;
  /*  max-width: 1000px;*/
    margin: auto;
 /*   font-weight: 600;*/
}
.event-activites-section {
	padding-bottom: 80px;
	/*background: #fbfbfb;*/
}





.yb{
    padding-right: 20px;
}



.event-activites-section1 {
    padding-bottom: 50px;
  /*  padding-left: 10px;
    padding-right: 10px;*/
   /* background: #fbfbfb;*/
   padding-top: 48px;
}
.list-event-activites1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.list-event-activites-img1 {
    padding:30% 50%;
    position: relative;
}
.list-event-activites-img1 img{
    border-radius: 5px 5px 0 0;
}

.list-event-activites-content1 {
    padding:20px 15px;
    text-align: center;
}
.list-event-activites-content1 h4{
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
}
.list-event-activites-content1 p{
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 26px;
}
.learn-link1 a{
    color: #000;
    font-weight: 500;
}
.learn-link1 a i{
    vertical-align: middle;
    margin-left: 5px;
    line-height: 1;
    margin-bottom: 2px;
}






.list-event-activites {
    margin-top: 18px;
        height:160px;
  /*  border: 1px solid #ccc;*/
    border-radius: 5px;
 /*   background: #fff;*/
  /*  box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
    margin-bottom: 20px;
 /*   box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}



.list-event-activites-img {
	padding:30% 50%;
	position: relative;
}
.list-event-activites-img img{
	border-radius: 5px 5px 0 0;
    height:160px;
}


.list-event-activites-content {
	padding:20px 15px;
	text-align: center;
    border-radius: 50%;
    border: 2px solid #c5ab7a;
}
.list-event-activites-content h4{
	font-size: 18px;
	color: #000;
	margin-bottom: 15px;
	font-weight: 600;
}
.list-event-activites-content p{
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 26px;
}
.learn-link a{
	color: #1f2b44;
	font-weight: 500;
}
.learn-link a i{
	vertical-align: middle;
	margin-left: 5px;
	line-height: 1;
	margin-bottom: 2px;
}
.cms-page-main {
	background: #fff;
	/*
  padding-top: 20px;*/
  padding-bottom: 54px;
}
.cms-content ul{
	list-style: none;
	margin-bottom: 0px;
}
.cms-content ul li{
	margin-bottom: 20px;
    font-size: 14px;
	position: relative;
	display: inline-block;
	width: 100%;
	padding-left: 28px;
}
.cms-content ul li:last-child {
	margin-bottom: 0px;
}
.cms-content ul li::before,
.cms-content ul li::after {
	content: "";
	width: 12px;
	height: 12px;
	background: #000e2b;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 4px;
}
.cms-content ul li::after {
    width: 6px;
    height: 6px;
    background: #c5ab7a;
    left: 3px;
    top: 7px;
}
.contact-us-main {
	background: #fbfbfb;
	padding: 50px 0;
}
.contact-us-main .login-form {
    max-width: 100%;
    background: none;
    box-shadow: none;
    padding: 0;
}
.contact-us-main .login-form .form-title h4 {
	margin: 0px 0 40px;
}
.contact-us-main .submit-btn input {
	margin: 0 10px;
}
.email-id ul{
	padding:0;
	margin: 0px;
	list-style: none;
}
.email-id p{
  text-align: left;

}
.email-id ul li {
	margin-bottom: 20px;
}
.email-id ul li:last-child{
	margin-bottom: 0px;
}
.email-id ul li a{
	color: #000;
	font-size: 14px;
	display: inline-block;
  padding:3px;
  padding-bottom: 5px;
}
.contact-title h4{
	text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.contact-us-main .container{
	max-width: 1300px;
}
.contact-us-form {
	background: #fff;
    margin: 0 auto;
    opacity: 0.6;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    padding:17px;
}
/* .dashboard-content {
    max-width: 640px;
    margin: auto;
} */
.profile-img-main {
    display: flex;
}

.dashbo{
  float: right;width: 106px;
}
.profile-name {
	padding-left: 10px;
}
.floating-label p{
    font-size:14px;
line-height: 16px;
    margin-bottom: 10px;
    text-align: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 11;

}

input[type='radio']:hover {
   /* box-shadow:0 0 5px 0px orange inset;*/
}
input[type='radio']:before {
   background:#c5ab7a !important;    
}


input[type='radio']:checked:before {
  background:#c5ab7a !important;
}



.tooltip-main {
width: 15px;
height: 15px;
border-radius: 50%;
font-weight: 700;
background: #c5ab7a;
border: 1px solid #000e2b;
color: #737373;
margin: 4px 121px 0 5px;
float: right;
text-align: left !important;
}
.tooltip-qm {
float: left;
margin: -2px 0px 3px 4px;
font-size: 12px;
}
.tooltip-inner {
max-width: 400px !important;
height: 76px;
font-size: 18px;
padding: 10px 15px 10px 20px;
background: #1f2b45 ! important;
color:#c5ab7a! important;
/*color: rgb(0, 0, 0, .7);*/
border: 1px solid #737373;
text-align: left;
}
.tooltip.show {
opacity: 1;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
border-bottom-color: #f00;
/* Red */
}

    .tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #000e2b;}

#red-tooltip > .tooltip-inner {
  background-color: #1f2b45;
  color: #c5ab7a;
  border: 1px solid #062e56;
}

#red-tooltip > .tooltip-arrow {
  border-top: 5px solid #062e56;
  
}

#red-tooltip{ background-color: #1f2b45 ! important;
  color: #c5ab7a ! important;

}


.red-tooltip::after {
  background-color: #1f2b45 ! important;
  color: #c5ab7a ! important;
  }


.plan{
    border: 1px solid #c5ab7a;
    padding:10px;
}
.profile-name1 {
    padding-left: 0px;
}

.profile-name1 h2 {
    margin: 0px;

    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
}


.profile-name h2 {
    margin: 0px;

    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
}
.center{
     text-align: center ! important;
}

.appcm{
margin-left: -15px !important;
}
.profile-name1 p{
    margin: 0px 0 0px;
}
.dashboard-user-profile, .volunteer-form {
	max-width: 740px;
	margin: auto;
}

.dashboard-user-profilepcc, {
    max-width: 840px;
    margin: auto;
}

.dashboard-user-profile .profile-img-main {
	justify-content: center;
}
.view-link a{
	color: #d5d800;
}
.upcoming-event-main .title h4, .my-contribution-main .title h4{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.view-all-btn {
	text-align: center;
	margin-top: 50px;
}
.upcoming-events-slider .slider-img {
	position: relative;
	padding: 50%;
	padding: 30%;
}
.upcoming-events-slider .text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upcoming-events-slider .text-box p{
	margin: 0px;
	text-align: center;
}
.upcoming-slider-content p{
	margin-bottom: 10px;
	line-height: 25px;
}
.upcoming-slider-content .slider-btn {
	text-align: center;
	margin-top: 10px;
}
.upcoming-slider-content {
    padding: 15px;
} 
strong {
    font-weight: 600;
}
.upcoming-slider-content .events-name strong{
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
#upcoming-activities-2{
	padding: 0 55px; 
}
#upcoming-activities-2 .item {
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.upcoming-events-slider .slider-img img {
	border-radius: 5px 5px 0 0;
}
.upcoming-slider-main .owl-nav button.owl-prev {
	left: 0px;
}
.upcoming-slider-main .owl-nav button.owl-next {
	right: 0px;
}
.my-referrebces-box-main {
	display: flex;
	flex-wrap: wrap;
	margin:0 -15px;
	padding-bottom: 20px;
	/*justify-content: center;*/
}
.my-referrebces-box-main .my-referrebces-box{
	width: 37%;
	padding: 0 15px;
}
.my-referrebces-box-inner {
	cursor: pointer;
	border: 1px solid #ccc;
	min-height: 100%;
	padding: 15px;
	background: #fff;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.my-referrebces-box-inner h4{
	font-size: 14px;
	margin-bottom: 15px;
}
.my-referrebces-box-inner strong{
	font-size: 14px;
	font-weight: 600;
}
.members-joined-table {
    display: none;
    max-width: 580px;
    margin: auto;
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}





.members-joined-table1 {
 display: block;
text-align: center;
    margin: auto;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.members-joined-table2 {
 display: block;
 width: 88%;
text-align: center;
    margin: auto;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.members-joined-table1 table td {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}


.members-joined-table.open {
	display: block;
}
.close-btn {
	text-align: right;
	margin-bottom: 20px;
}
.close-btn button{
	background: none;
	border: 0px;
	padding: 0px;
	font-size: 24px;
	cursor: pointer;
}
.reward-points-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	height: 100px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.reward-points-box-main {
	display: none;
}
.reward-points-box-main.open {
	display: block;
}
.volunteer-form .dashboard-note textarea {
	height: 140px;
}
div#ui-datepicker-div {
	display: flex;
    background: #fff;
    width: auto !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.popup-content-title {
    /* text-align: center; */
    font-size: 20px;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}
.upcoming-event-popup  .modal-body{
	padding: 0px;
}
.modal-dialog {
	max-width: 800px;
}
.popup-content {
	padding: 20px;
}
.popup-content ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 0px;
	list-style: none;
}
.popup-content ul li{
	width: 33.33%;
	padding: 0 10px;
	font-size: 14px;
	margin-bottom: 10px;
}
.popup-content-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: flex-end;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.content-bottom {
	width: 30%;
	text-align: right;
}
.popup-content-bottom .terms-link{
	width: 30%;
}
.available-tickets {
    width: 40%;
    text-align: center;
}
.popup-content-bottom a{
	font-size: 14px;
	color: #000;
}
.available-tickets p {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.available-tickets p span{
	margin: 0 15px;
}
.upcoming-event-popup .modal-body .close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    opacity: unset;
    height: 30px;
    width: 30px;
}
.upcoming-event-main .title .my-ticket {
    position: absolute;
    top: 0;
    right: 40px;
}
.popup-img {
	border: 2px solid #fff;
}
.upcoming-event-main .title .my-ticket a {
    color: #000;
    text-decoration: underline;
    font-size: 20px;
    line-height: 1;
}
.upcoming-event-main .title {
    position: relative;
}
.booking-conf .modal-dialog {
	max-width: 600px;
}
.booking-conf .popup-content-title {
	text-align: center;
}

.input-group input{
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}
input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}
.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}
.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}
.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 5px;
  resize: vertical;
}
.button-plus {
  left: -13px;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
.ticket-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
}
.navigation_nav .container {
    max-width: 1000px;
}
.total-price {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin: 0 -20px;
}
.total-price .book-btn{
	margin-top: 15px;
}
.my-contribution-main .members-joined-table {
	display: block;
}
.my-contribution-box-main {
   /* max-width: 580px;*/
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.my-contribution-box-main .my-contribution-box{
	width: calc(50% - 15px);
}
.date-list, .contribution-total {
	border: 1px solid #ccc;
    min-height: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.date-list ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.date-list ul li{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	font-size: 14px;
}
.date-list ul li:last-child {
	margin-bottom: 0px;
}
.contribution-total {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.date-list {
	max-height: 150px;
	overflow-y: scroll;
}

  .arrow {
  border: solid #c5ab7a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  color:#c5ab7a ! important;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dropbtn {
 
    background-color: #e8e8e8;
     /* color: #000e2b; */

    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    /* font-family: Sourcesanspro; */
    /* text-transform: uppercase; */
    border:0px;
    font-weight: normal;
    color: #c5ab7a;
    padding:5px;
}

.dropbtn:hover, .dropbtn:focus {
  /* background-color: #1f2b44; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c5ab7a;
   min-width: 120px ! important;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 4px;
  text-decoration: none;
  color:#1f2b44;
  font-size: 14px;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}